*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.pt binary
*.pdf binary
*.png binary
data/generation/gold_test.jsonl binary
data/retrieval/benchmark/test_evaluator.jsonl binary
data/retrieval/predictions/*.json binary
